[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=root
Restart=on-failure
ExecStart=/opt/prometheus/prometheus --config.file={{ prometheus_config_file }} --storage.tsdb.path={{ prometheus_tsdb_loc }}/

[Install]
WantedBy=multi-user.target
